# Timeout in seconds that Limine will use before automatically booting.
TIMEOUT=0
# The entry name that will be displayed in the boot menu.
:h0r.net
    # We use the Limine boot protocol.
    PROTOCOL=limine
    KALSR=no

    # Path to the kernel to boot. boot:/// represents the partition on which limine.cfg is located.
    KERNEL_PATH=boot:///kernel.bin
    MODULE_PATH=boot:///boot/kfont.psf
