[submodule "OVMFbin"]
	path = OVMFbin
	url = https://github.com/Absurdponcho/OVMFbin
[submodule "src/vendor/libkrnl-essentials"]
	path = src/vendor/libkrnl-essentials
	url = https://github.com/lolguy91/libkrnl-essentials
	branch = master
[submodule "src/vendor/lai"]
	path = src/vendor/lai
	url = https://github.com/managarm/lai/
