[submodule "limine"]
	path = limine
	url = https://github.com/limine-bootloader/limine
	branch = v4.x-branch-binary
[submodule "OVMFbin"]
	path = OVMFbin
	url = https://github.com/Absurdponcho/OVMFbin
[submodule "src/vendor/libkrnl-essentials"]
	path = src/vendor/libkrnl-essentials
	url = https://github.com/lolguy91/libkrnl-essentials
